#book-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}



.book-card {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-xl);
    padding: var(--padding);
    display: grid;
    gap: 1rem;
    background: var(--color-card);
    color: var(--color-card-foreground);
}

.book-card-header {
    min-height:30px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.book-card-header-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.book-card-header h3 {
    margin: 0;
    font-size: 1.1rem;
}

.book-card-header p {
    margin: 0;
    font-size: 0.775rem;
    color: var(--color-muted-foreground);
}

.book-card-main {
    min-height:200px;
}

.book-card-footer {
    min-height: 220px;
}






.like-container {
    display: flex;
    align-items: center;
    gap: 8px;
}



.like-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border: none;
  cursor: pointer;
  background: transpartent;
  color: var(--color-primary-foreground);
  font-size: 0.875rem
}

.like-btn {
  padding: 0rem;
  border: none;
  background: none;
}

.like-btn:hover {
  outline: none;
  outline-offset: none;
}

.like-btn:active {
  transform: none;
}

.like-btn span {
    /* color: var(--color-primary-foreground); */
}

.heart-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
  stroke: currentColor;
  fill: none;
  transition: transform 0.15s ease, fill 0.15s ease;
  fill: transpartent;
}

.like-btn.liked .heart-icon {
  fill: red;
  stroke: red;
}






.book-cover-container {
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: var(--radius-md);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-background);
    padding: 0.25rem;
}

.book-cover-container img {
    width: auto;
    height: 80%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.add-to-cart-btn {
    width: 100%;
}