#book-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Tablet */
@media (max-width: 1024px) {
  #book-card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 640px) {
  #book-card-list {
    grid-template-columns: 1fr;
  }
}

.book-card {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xl);
  padding: var(--padding);
  display: grid;
  gap: 1rem;
  background: var(--color-card);
  color: var(--color-card-foreground);
}

.book-card-header {
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.book-card-header-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.book-card-header h3 {
  margin: 0;
  font-size: 1.1rem;
  cursor: pointer;
}

.book-card-header p {
  margin: 0;
  font-size: 0.775rem;
  color: var(--color-muted-foreground);
}

.book-card-main {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-card-footer {
  min-height: 220px;
}

.book-card p {
  margin: 0;
}

.like-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.like-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border: none;
  cursor: pointer;
  background: transpartent;
  color: var(--color-primary-foreground);
  font-size: 0.875rem;
}

.like-btn {
  padding: 0rem;
  border: none;
  background: none;
}

.like-btn:hover {
  outline: none;
  outline-offset: none;
}

.like-btn:active {
  transform: none;
}



.heart-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
  stroke: currentColor;
  fill: none;
  transition: transform 0.15s ease, fill 0.15s ease;
  fill: transpartent;
}

.like-btn.liked .heart-icon {
  fill: red;
  stroke: red;
}

.book-cover-container {
  width: 100%;
  height: 340px;
  overflow: hidden;
  border-radius: var(--radius-md);
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
  padding: 1.5rem;
  cursor: pointer;
}

.book-cover-container img {
  width: auto;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
   transition: transform 0.4s ease, box-shadow 0.4s ease;
   border-radius: 3px;
}

.book-cover-container:hover img {
  transform: scale(1.04);
}

.book-copyright-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 8px;
}

.book-copyright {
  font-size: 0.65rem;
  color: var(--color-muted-foreground);
}

.book-price-container {
  display: flex;
  font-weight: 600;
  font-size: 1.875rem;
  gap: 6px;
}

.book-price-container p {
  margin: 0;
}


.book-details {
  font-size: 0.875rem;
  color: var(--color-muted-foreground);
}



.add-to-cart-btn {
  width: 100%;
}
