/* =========================
   Footer
========================= */
footer {
  height: 100px;
  z-index: 50;
  width: 100%;
  background: var(--color-background-footer);
  border-top: 1px solid var(--color-border);
  font-size: 0.875rem;
}

.site-footer-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 16px;
  text-align: center;
  font-family: "Bangers", monospace;
}