/* =========================
   Header
========================= */
header {
  height: 60px;
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 50;
  background: var(--color-background-header);
  border-bottom: 1px solid var(--color-border);
}

.site-header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.logo {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.fotogram-full-svg-letter {
  fill: var(--color-foreground);
}